.Weather {
    font-family: arial, sans-serif;
    border: 1px solid darkgray;
    padding: 16px;
    border-radius: 4px;
    color: darkblue;
}

.Weather h1 {
    font-size: 24px;
    font-weight: 100;
    margin: 20px 0 0 11px;
    line-height: 29px;
}

.Weather ul {
    margin: 0 0 0 11px;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather .temperature {
    font-weight: bold;
    color: darkblue;
    font-size: 64px;
    line-height: 64px;
    margin-left: 11px;
    font-weight: 400;
}

.Weather canvas {
    margin: 0 0 0;
}

.Weather .unit {
    color: black;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -33px;
}